<?xml version="1.0" encoding="utf-8"?>
<BranchDetails>
  <Bank Address="218 S. GLENSTONE AVE" BranchName="GREAT SOUTHERN BANK" ChangeDate="2014-10-27 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="071126269" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="218 S. GLENSTONE AVE." BranchName="GREAT SOUTHERN BANK" ChangeDate="2014-10-27 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="073902180" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="PO BOX 9009" BranchName="GREAT SOUTHERN BANK" ChangeDate="2012-01-30 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="081501793" StateCode="MO" ZipCode="65805" ZipExtension="0000" />
  <Bank Address="P.O. BOX 9009" BranchName="GREAT SOUTHERN BANK" ChangeDate="2012-01-30 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="081503322" StateCode="MO" ZipCode="65805" ZipExtension="0000" />
  <Bank Address="1800 S. GLENSTONE AVE" BranchName="CENTRAL BANK OF THE OZARKS" ChangeDate="2016-04-25 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="086518477" RoutingNumber="081518637" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="3570 S NATIONAL" BranchName="OLD MISSOURI BANK" ChangeDate="2017-01-15 00:00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="081504839" StateCode="MO" ZipCode="65807" ZipExtension="0000" />
  <Bank Address="PO BOX 9009" BranchName="GREAT SOUTHERN BANK" ChangeDate="2017-01-30 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="081507125" StateCode="MO" ZipCode="65805" ZipExtension="0000" />
  <Bank Address="PO BOX 9009" BranchName="GREAT SOUTHERN BANK" ChangeDate="2012-01-30 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="081517981" StateCode="MO" ZipCode="65805" ZipExtension="0000" />
  <Bank Address="218 S GLENSTONE" BranchName="GREAT SOUTHERN BANK" ChangeDate="2009-07-27 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="101101769" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="218 S GLENSTONE" BranchName="GREAT SOUTHERN BANK" ChangeDate="2012-08-13 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="091071491" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="P. O. BOX 9009" BranchName="GREAT SOUTHERN BANK" ChangeDate="2012-01-30 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="101212182" StateCode="MO" ZipCode="65805" ZipExtension="9009" />
  <Bank Address="P.O. BOX 14740" BranchName="MID-MISSOURI BANK" ChangeDate="2003-09-19 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086503424" StateCode="MO" ZipCode="65814" ZipExtension="0000" />
  <Bank Address="PO BOX 10828" BranchName="STATE BANK OF SOUTHWEST MO" ChangeDate="2011-04-27 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086505545" StateCode="MO" ZipCode="65808" ZipExtension="0000" />
  <Bank Address="1800 S GLENSTONE AVE" BranchName="EMPIRE BANK" ChangeDate="2012-04-13 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086506256" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="1800 S. GLENSTONE AVE" BranchName="CENTRAL BANK OF THE OZARKS" ChangeDate="2015-06-18 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086518477" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="3570 S NATIONAL" BranchName="OLD MISSOURI BANK" ChangeDate="2012-07-18 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086518891" StateCode="MO" ZipCode="65807" ZipExtension="0000" />
  <Bank Address="2006 S. GLENSTONE" BranchName="SPRINGFIELD COMMUNITY BANK" ChangeDate="2011-04-14 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="086519421" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="218 S. GLENSTONE AVE." BranchName="GREAT SOUTHERN BANK" ChangeDate="2014-10-27 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="273970585" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="218 S GLENSTONE" BranchName="GREAT SOUTHERN BANK" ChangeDate="2009-12-14 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="273970640" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="1444 E SUNSHINE" BranchName="MERCY CREDIT UNION" ChangeDate="2016-08-01 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="282974938" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="218 S GLENSTONE AVE." BranchName="GREAT SOUTHERN BANK" ChangeDate="2013-01-02 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286573322" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="1341 W. BATTLEFIELD ST" BranchName="GUARANTY  BANK" ChangeDate="2005-08-25 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286573335" StateCode="MO" ZipCode="65807" ZipExtension="0000" />
  <Bank Address="318 SOUTH AVE" BranchName="SYSTEMATIC SAVINGS BANK" ChangeDate="2012-04-13 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286573351" StateCode="MO" ZipCode="65806" ZipExtension="0000" />
  <Bank Address="818 N BENTON" BranchName="CU COMMUNITY CREDIT UNION" ChangeDate="2005-08-23 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582708" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="3000 E DIVISION SUITE C" BranchName="DISTRICT 8 HWY. EMP. C.U." ChangeDate="2012-05-14 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582711" StateCode="MO" ZipCode="65801" ZipExtension="0000" />
  <Bank Address="447 S. CAMBELL" BranchName="METRO CREDIT UNION" ChangeDate="1997-05-09 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582737" StateCode="MO" ZipCode="65806" ZipExtension="0000" />
  <Bank Address="1535 N CAMPBELL" BranchName="ASSEMBLIES OF GOD CU" ChangeDate="2014-03-31 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582740" StateCode="MO" ZipCode="65803" ZipExtension="2759" />
  <Bank Address="P O BOX 1217" BranchName="COMMUNITY FINANCIAL CREDIT UNION" ChangeDate="2014-05-15 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582779" StateCode="MO" ZipCode="65801" ZipExtension="0000" />
  <Bank Address="818 N BENTON" BranchName="CU COMMUNITY CREDIT UNION" ChangeDate="2012-12-03 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582782" StateCode="MO" ZipCode="65802" ZipExtension="0000" />
  <Bank Address="1770 W. SUNSET" BranchName="BLUCURRENT CREDIT UNION" ChangeDate="2012-04-09 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582805" StateCode="MO" ZipCode="65807" ZipExtension="0000" />
  <Bank Address="1221 EAST GRAND" BranchName="EDUCATIONAL COMMUNITY CREDIT UNION" ChangeDate="2012-05-15 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582834" StateCode="MO" ZipCode="65804" ZipExtension="0003" />
  <Bank Address="1726 W. ELFINDALE" BranchName="FOUNDATION CREDIT UNION" ChangeDate="2013-02-21 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582850" StateCode="MO" ZipCode="65807" ZipExtension="0000" />
  <Bank Address="2155 E. SUNSHINE" BranchName="TELCOMM CREDIT UNION" ChangeDate="2008-07-09 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286582876" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
  <Bank Address="1444 E SUNSHINE" BranchName="MERCY CREDIT UNION" ChangeDate="2014-04-11 00:00:00.000" City="SPRINGFIELD" NewRoutingNumber="000000000" RoutingNumber="286586416" StateCode="MO" ZipCode="65804" ZipExtension="0000" />
</BranchDetails>